@font-face {
  font-family: 'iconfont';  /* project id 1771575 */
  src: url('//at.alicdn.com/t/font_1771575_qkxtni1g8ci.eot');
  src: url('//at.alicdn.com/t/font_1771575_qkxtni1g8ci.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1771575_qkxtni1g8ci.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1771575_qkxtni1g8ci.woff') format('woff'),
  url('//at.alicdn.com/t/font_1771575_qkxtni1g8ci.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1771575_qkxtni1g8ci.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jianzhuanquan:before {
  content: "\e60e";
}

.icon-zaoyin:before {
  content: "\eb22";
}

.icon-wendu:before {
  content: "\e659";
}

.icon-xian:before {
  content: "\e601";
}

.icon-xian1:before {
  content: "\e605";
}

.icon-xian2:before {
  content: "\e606";
}

.icon-xian3:before {
  content: "\e607";
}

.icon-xian4:before {
  content: "\e608";
}

.icon-xian5:before {
  content: "\e609";
}

.icon-xian6:before {
  content: "\e60a";
}

.icon-xian7:before {
  content: "\e60b";
}

.icon-xian8:before {
  content: "\e60c";
}

